{{ define "sidebar"}}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion"
    style="background-color: rgb(0,8,224)!important;">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>mbunge</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="/dashboard"><i
                        class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/login"><i
                        class="far fa-user-circle"></i><span>Login</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/participation"><i
                        class="la la-book"></i><span>Participations</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/mp"><i
                        class="material-icons">speaker</i><span>MPs</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/event"><i
                        class="far fa-calendar-alt"></i><span>Events</span></a></li>
            <li class="nav-item"><a class="nav-link" href="user.html"><i class="far fa-eye"></i><span>User
                        Management</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/profile"><i
                        class="fas fa-user"></i><span>Profile</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
                type="button"></button></div>
    </div>
</nav>
{{end}}