{{define "content"}}
    <link rel="stylesheet" type="text/css" href="/static/css/stream.css"/>
    <script>
        console.log('{{index . "data"}}');

    </script>
    <script src="/static/js/AgoraRTCSDK-3.1.1.js"></script>
    <div id="wrapper">
        {{template "sidebar" .}}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span>
                                        <img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg">
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Parliaments Members</h3>
                    </div>
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">View All</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link " role="tab" data-toggle="tab" href="#tab-2">Add</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link " role="tab" data-toggle="tab" href="#tab-3">MP ofthe Week</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">Stream</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="row row-cols-3 ">
                                            {{range $index, $element := index . "data"}}
                                                <div class="col" style="margin-bottom: 10px;">
                                                    <div class="card">
                                                        <img height=300px class="card-img-top" src={{$element.image}}>
                                                        <div class="card-body">
                                                            <h4 class="card-title">
                                                                {{  printf "%.80s" $element.name}}...
                                                            </h4>
                                                            <h6 class="text-muted card-subtitle mb-2" id="{{$element.id}}">
                                                                <script>
                                                                    var dateObject = new Date(Date.parse({{$element.date_birth}}));
                                                                    document.getElementById({{$element.id}}).innerHTML = dateObject.toDateString();
                                                                </script>
                                                            </h6>
                                                            <p class="card-text">
                                                                {{ printf "%.450s" $element.bio }}...
                                                            </p>
                                                            <a class="card-link"
                                                               href="/mp/edit/{{$element.id}}">Edit</a>
                                                            <a class="card-link" href="/mp/delete/{{$element.id}}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">Fields with * are a must</p>
                                        <div class="col">
                                            <form action="/mp/add" method="POST">
                                                <p style="margin-bottom: 2px;">Name</p>
                                                <input name="name" class="form-control" type="text" style="margin-bottom: 16px;" required>
                                                <p style="margin-bottom: 2px;">Picture</p>
                                                <input name="picture" class="form-control"  type="text" style="margin-bottom: 16px;" required>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <p style="margin-bottom: 2px;">Constituency</p>
                                                        <select class="dropdown" id="constituency" name="constituency" required>
                                                            <option class="dropdown-item" value="Bahati">Bahati</option>
                                                            <option class="dropdown-item" value="Kawangware">Kawangware</option>
                                                            <option class="dropdown-item" value="Manufacturing">Manufacturing</option>
                                                            <option class="dropdown-item" value="Transport and Infrastructure">Transport and Infrastructure</option>
                                                            <option class="dropdown-item" value="ICT">ICT</option>
                                                            <option class="dropdown-item" value="Building and Construction">Building and Construction</option>
                                                            <option class="dropdown-item" value="Governance">Governance</option>
                                                            <option class="dropdown-item" value="Education">Education</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <p style="margin-bottom: 2px;">County</p>
                                                        <select class="dropdown" id="county" name="county" required>
                                                            <option class="dropdown-item" value="Nakuru">Nakuru</option>
                                                            <option class="dropdown-item" value="Nairobi">Nairobi</option>
                                                            <option class="dropdown-item" value="Manufacturing">Manufacturing</option>
                                                            <option class="dropdown-item" value="Transport and Infrastructure">Transport and Infrastructure</option>
                                                            <option class="dropdown-item" value="ICT">ICT</option>
                                                            <option class="dropdown-item" value="Building and Construction">Building and Construction</option>
                                                            <option class="dropdown-item" value="Governance">Governance</option>
                                                            <option class="dropdown-item" value="Education">Education</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <p style="margin-bottom: 2px;">Martial Status</p>
                                                        <select class="dropdown" id="martial_status" name="martial_status" required>
                                                            <option class="dropdown-item" value="Agriculture">Married</option>
                                                            <option class="dropdown-item" value="Tourism">Single</option>
                                                            <option class="dropdown-item" value="Manufacturing">Divorced</option>
                                                            <option class="dropdown-item" value="Manufacturing">Widower</option>
                                                            <option class="dropdown-item" value="Manufacturing">Undisclosed</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <p style="margin-bottom: 2px;">Date of Birth</p>
                                                <input name="date_of_birth" class="form-control" type="date" style="margin-bottom: 16px;" required>
                                                <p style="margin-bottom: 2px;">Bio</p>
                                                <textarea name="bio" class="form-control" type="text" style="margin-bottom: 16px;" rows="10" required>  </textarea>
                                                <button class="btn btn-primary" type="submit"style="background: rgb(0,8,224);">
                                                    Add MP
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary font-weight-bold m-0">Start livestream</h6>
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary"
                                                    type="button" style="background: rgb(78,223,127);">start
                                            </button>
                                            <button
                                                    class="btn btn-primary" type="button"
                                                    style="background: rgb(223,78,78);">&nbsp;end
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-4">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary font-weight-bold m-0">Start livestream</h6>
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary"
                                                    type="button" style="background: rgb(78,223,127);">
                                                start
                                            </button>
                                            <button
                                                    class="btn btn-primary" type="button"
                                                    style="background: rgb(223,78,78);">&nbsp;end
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="col">
                                            <div class="container-fluid p-0">
                                                <div id="main-container">
                                                    <div id="screen-share-btn-container" class="col-2 float-right text-right mt-2">
                                                        <button id="screen-share-btn"  type="button" class="btn btn-lg">
                                                            <i id="screen-share-icon" class="fab fa-slideshare"></i>
                                                        </button>
                                                    </div>
                                                    <div id="buttons-container" class="row justify-content-center mt-3">
                                                        <div id="audio-controls" class="col-md-2 text-center btn-group">
                                                            <button id="mic-btn" type="button" class="btn btn-block btn-dark btn-lg">
                                                                <i id="mic-icon" class="fas fa-microphone"></i>
                                                            </button>
                                                            <button id="mic-dropdown" type="button" class="btn btn-lg btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div id="mic-list" class="dropdown-menu dropdown-menu-right">
                                                            </div>
                                                        </div>
                                                        <div id="video-controls" class="col-md-2 text-center btn-group">
                                                            <button id="video-btn"  type="button" class="btn btn-block btn-dark btn-lg">
                                                                <i id="video-icon" class="fas fa-video"></i>
                                                            </button>
                                                            <button id="cam-dropdown" type="button" class="btn btn-lg btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div id="camera-list" class="dropdown-menu dropdown-menu-right">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <button id="exit-btn"  type="button" class="btn btn-block btn-danger btn-lg">
                                                                <i id="exit-icon" class="fas fa-phone-slash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div id="full-screen-video"></div>

                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © mbunge 2020</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script>
        $("#mic-btn").prop("disabled", true);
        $("#video-btn").prop("disabled", true);
        $("#screen-share-btn").prop("disabled", true);
        $("#exit-btn").prop("disabled", true);
        $("#add-rtmp-btn").prop("disabled", true);
    </script>
    <script src="/static/js/agora-broadcast-client.js"></script>
    <script src="/static/js/ui.js"></script>
{{end}}